{%extends "blog/layout.html"%}

{%block body%}

<h1>All user</h1>

{%for i in al_us%}
{%if user.id != i.user.id%}
    <div>{{i}}</div>


{%endif%}
{%endfor%}
<!-- this -->
<!-- {% if request.user.username != viewed_user.username %}
{% if currently_followed == False %}
    <div class="follow-button-container">
        <button class="toggle-follow-button" id="follow" title="Follow" value="{{ viewed_user.username }}">Follow</button>
    </div>
{% else %}
    <div class="follow-button-container">
        <button class="toggle-follow-button" id="unfollow" title="Unfollow" value="{{ viewed_user.username }}">Following</button>
    </div>
{% endif %}
{% endif %} -->



{%endblock%}