{%extends "blog/layout.html"%}

{%block body%}
{% if user.is_authenticated %}
<div class="page-title">All Posts</div>


{% for pst in page_obj %}

<div class="post-outer-container">
    <div class="post-container">
        {{pst.post}}
        {{pst.user}}
        {{pst.timestamp}}
       
    </div>
    <!-- <form action="{% url 'like-post' %}" method="post">
        {%csrf_token%}
        <button type="submit" name="post_id" class="btn btn-primary btn-sm">Like</button>
    </form> -->
    {% if user.is_authenticated %}
     <form action="{% url 'like-post' %}" method="POST">
    {% csrf_token %}

    {% if pst.like.all %}
    <button type="submit" name="post_id" value="{{pst.id}}" class="btn btn-info">Unlike</button>
    {% else %}
    <button type="submit" name="post_id" value="{{pst.id}}" class="btn btn-info">Like</button>
    {% endif %}
  </form>
  <strong class="text-secondary">{{ pst.number_of_likes }} Like {{ pst.username }}</strong>

{% endif %}

</div>





{% endfor %}
{% if page_obj.has_other_pages %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %} 
{% else %}
<div class="container">
    <div class="wrp">
        <h1>Welcome</h1>
        <div>This is my network website!!!</div>
    </div>
</div>
{% endif %}


{% endblock %}

